#app {
  .red-text {
    color: red;

    /* Test for PostCSS AutoPrefixer. */
    user-select: none;
  }

  .people {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
