#app {
  .red-text {
    color: red;

    border: 5px dashed tomato;

    /* Test for PostCSS AutoPrefixer. */
    -moz-border-radius: 5px;
  }

  .people {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
